<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.phodal.plugin"
        version="0.0.1">

  <name>Coap</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/coap.js" target="js/coap.js"/>

  <js-module src="www/coap.js" name="coap">
    <clobbers target="coap" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Coap">
        <param name="android-package" value="com.phodal.plugin.Coap"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </config-file>

    <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

    <source-file src="src/android/Coap.java" target-dir="src/com/phodal/plugin/"/>
    <source-file src="src/android/lib/element-connector-1.0.4.jar" target-dir="libs" />
    <source-file src="src/android/lib/californium-core-1.0.4.jar" target-dir="libs" />
  </platform>

  <platform name="ios">
    <hook type="after_plugin_install" src="hooks/add_swift_support.js" />

    <config-file target="config.xml" parent="/widget">
      <feature name="Coap">
        <param name="ios-package" value="HWCoapPlugin" />
      </feature>
    </config-file>

    <header-file src="src/ios/GCDAsyncUdpSocket.h"/>
    <source-file src="src/ios/GCDAsyncUdpSocket.m"/>

    <header-file src="src/ios/CoAP-Bridging-Header.h"/>

    <source-file src="src/ios/SCClient.swift"/>
    <source-file src="src/ios/SCMessage.swift"/>
    <source-file src="src/ios/SCServer.swift"/>

    <source-file src="src/ios/Coap.swift"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Hello.cs"/>
  </platform>

</plugin>
